@-webkit-keyframes loadFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes loadFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes showProjects {
  from {
    margin-top: -100vh;
  }
  to {
    margin-top: 0%;
  }
}
@keyframes showProjects {
  from {
    margin-top: -100vh;
  }
  to {
    margin-top: 0%;
  }
}
@-webkit-keyframes hideProjects {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -100vh;
  }
}
@keyframes hideProjects {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -100vh;
  }
}
html {
  background-color: black;
  color: #DDDDDD;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}
html .flex-container {
  display: flex;
}
html body {
  padding: 0;
  margin: 0;
  width: 100%;
}

.top {
  position: relative;
  padding-top: 28vh;
  margin: 0;
  text-align: center;
  z-index: 2;
  background-color: black;
}
.top #name {
  font-size: min(16vw, 8rem);
  text-indent: 4rem;
  color: transparent;
  background-image: linear-gradient(to right, hsl(240deg, 100%, 40%), white);
  -webkit-background-clip: text;
          background-clip: text;
}
@media only screen and (max-width: 950px) {
  .top #name {
    text-indent: 1rem;
  }
}
.top #subtext {
  font-size: min(8vw, 4rem);
  color: hsl(0deg, 0%, 75%);
  margin-bottom: min(2vw, 2rem);
}
.top .flex-container {
  gap: 1.5rem;
  justify-content: center;
}
.top .flex-container button {
  font-size: min(5.4vw, 1.8rem);
  font-weight: 600;
  border: transparent;
  border-radius: 4em;
  padding: min(1rem, 3vw) min(3rem, 9vw);
  cursor: pointer;
}
.top .flex-container button#projects {
  color: hsl(200deg, 100%, 60%);
  background-image: linear-gradient(to bottom right, hsl(240deg, 100%, 40%), hsl(280deg, 70%, 40%));
}
.top .flex-container button#projects:hover {
  background-image: linear-gradient(to bottom right, #3333ff, #b152e0);
}
.top .flex-container button#git {
  color: hsl(300deg, 100%, 60%);
  background-image: linear-gradient(to bottom left, hsl(240deg, 100%, 40%), hsl(280deg, 70%, 40%));
}
.top .flex-container button#git:hover {
  background-image: linear-gradient(to bottom right, #3333ff, #b152e0);
}
.top > div {
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.top > div[class=flex-container] {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.projects {
  width: 100%;
  margin-top: -100vh;
  position: relative;
  z-index: 0;
  padding-top: 5vh;
  /*  change this code later to transform when 'Projects' button is hovered on for 3 seconds
  &:hover{
      transform: translateY(20px);
  }
  */
}
.projects .flex-container {
  justify-content: space-between;
  margin: 0vw 4vw;
}
@media only screen and (max-width: 360px) {
  .projects .flex-container {
    margin: 0vw 3.2vw;
  }
}
.projects .flex-container .button {
  position: relative;
  cursor: pointer;
  align-self: center;
  width: 10%;
  height: 0;
  max-width: 4rem;
  padding-bottom: clamp(2rem, 10%, 4rem);
  border-radius: 10rem;
  background-image: linear-gradient(to bottom right, hsl(240deg, 70%, 70%), hsl(240deg, 70%, 45%));
}
.projects .flex-container .button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: min(6vw, 3rem);
  font-weight: 600;
  font-family: Helvetica, Calibri, Arial;
  color: rgba(212, 212, 212, 0.7);
}
.projects .flex-container .bubbles {
  color: transparent;
}
.projects .flex-container .bubbles .flex-container {
  gap: 4vw;
}
.projects .flex-container .bubbles .border {
  cursor: pointer;
  display: flex;
  width: min(30vw, 13rem);
  height: min(30vw, 13rem);
  border-radius: min(6vw, 2rem);
  background-image: linear-gradient(to bottom, hsl(0deg, 50%, 50%), hsl(30deg, 50%, 50%));
  background-image: linear-gradient(to bottom, hsl(240deg, 100%, 40%), hsl(280deg, 70%, 40%));
}
.projects .flex-container .bubbles .squ {
  flex-grow: 1;
  border-radius: 1rem;
  margin: min(2vw, 0.75rem);
  background-color: white;
}
.projects .flex-container .bubbles .squ[id=colortest] {
  background-image: linear-gradient(to right, hsl(0deg, 95%, 50%), hsl(30deg, 95%, 50%), hsl(60deg, 95%, 50%), hsl(90deg, 95%, 50%), hsl(120deg, 95%, 50%), hsl(150deg, 95%, 50%), hsl(180deg, 95%, 50%), hsl(210deg, 95%, 50%), hsl(240deg, 95%, 50%), hsl(270deg, 95%, 50%), hsl(300deg, 95%, 50%), hsl(330deg, 95%, 50%), hsl(0deg, 95%, 50%));
  background-image: linear-gradient(to bottom right, rgb(255, 0, 0) 0%, rgb(255, 154, 0) 10%, rgb(208, 222, 33) 20%, rgb(79, 220, 74) 30%, rgb(63, 218, 216) 40%, rgb(47, 201, 226) 50%, rgb(28, 127, 238) 60%, rgb(95, 21, 242) 70%, rgb(186, 12, 248) 80%, rgb(251, 7, 217) 90%, rgb(255, 0, 0) 100%);
}
.projects #content {
  flex-direction: column;
  height: 60vh;
  background-image: linear-gradient(to bottom right, hsl(240deg, 70%, 70%), hsl(240deg, 70%, 45%));
  margin: min(4vw, 2rem) 0px 0px;
}
@media only screen and (min-width: 950px) {
  .projects #content {
    flex-direction: row;
    width: 100%;
    height: 29.45vw;
  }
}
.projects #content div {
  flex: 3 1 0;
}
.projects #content div[id=proj-img] {
  position: relative;
  flex: 3 1 0;
  border-bottom: 0.3rem solid black;
}
@media only screen and (min-width: 950px) {
  .projects #content div[id=proj-img] {
    flex: 2 1 0;
    border-right: 0.3rem solid black;
    border-bottom: none;
  }
}
.projects #content div[id=proj-img] img {
  height: 80%;
  width: 42.6666666667vh;
  max-width: 95%;
  border: 8px inset rgba(0, 0, 0, 0.6);
  box-shadow: 0px 5px 2rem black;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 950px) {
  .projects #content div[id=proj-img] img {
    width: 95%;
    height: 21.375vw;
  }
}
@media only screen and (max-width: 360px) {
  .projects #content div[id=proj-img] img {
    border: 0.2rem inset rgba(0, 0, 0, 0.6);
  }
}
.projects #proj-desc {
  flex-direction: column;
}
.projects #proj-desc > div {
  border: 1px solid black;
  flex: 2 1 0;
  text-align: center;
}
.projects #proj-desc > div[id=title] {
  flex: 1 1 0;
  font-size: 8vh;
  text-align: center;
}
.projects #proj-desc > div[id=desc] {
  font-size: 2vh;
}
@media only screen and (min-width: 1280px) {
  .projects #proj-desc > div[id=desc] {
    font-size: 4vh;
  }
}
.projects #proj-desc > div[id=buttons] {
  justify-content: space-around;
  flex: 1 1 0;
}
.projects #proj-desc > div[id=buttons] button {
  position: relative;
  height: 85%;
  width: 15.3vh;
  border-radius: 4rem;
  align-self: center;
  font-size: min(5.4vw, 1.8rem);
  font-weight: 600;
  border: transparent;
  padding: min(1rem, 3vw) min(3rem, 9vw);
  cursor: pointer;
  text-align: center;
  color: lightgray;
}
.projects #proj-desc > div[id=buttons] button:first-of-type {
  background-image: linear-gradient(to bottom right, hsl(285deg, 70%, 15%), hsl(305deg, 70%, 25%));
}
.projects #proj-desc > div[id=buttons] button:first-of-type:hover {
  background-image: linear-gradient(to bottom right, hsl(285deg, 70%, 35%), hsl(305deg, 70%, 45%));
}
.projects #proj-desc > div[id=buttons] button:last-of-type {
  background-image: linear-gradient(to bottom left, hsl(285deg, 70%, 15%), hsl(305deg, 70%, 25%));
}
.projects #proj-desc > div[id=buttons] button:last-of-type:hover {
  background-image: linear-gradient(to bottom left, hsl(285deg, 70%, 35%), hsl(305deg, 70%, 45%));
}
@media only screen and (min-width: 950px) {
  .projects #proj-desc > div[id=buttons] button {
    height: 2.945vw;
    width: 12vw;
    min-height: 3rem;
  }
}
.projects #proj-desc > div[id=buttons] button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.projects.unhidden {
  -webkit-animation-name: showProjects;
          animation-name: showProjects;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.projects.hidden {
  -webkit-animation-name: hideProjects;
          animation-name: hideProjects;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}/*# sourceMappingURL=script.css.map */