@keyframes fadeIn {
    from {opacity: 0%;} 
    to {opacity: 100%;}
}

html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

body {
    background: linear-gradient(to bottom, hsl(220deg, 100%, 10%), hsl(280deg, 100%, 5%));
    display: flex;
    overflow: hidden;
    * {
        font-family: "DM Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    }
}

#sidebar {
    border: calc(2rem/8) solid hsla(0deg, 0%, 0%, 60%);
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-radius: 0rem 5% 5% 0rem;
    padding-top: 20vh;
    gap: 2rem;
    display: flex;
    flex-direction: column;

    button {
        flex: 0 1 1;
        font-weight: 700;
        font-size: 1.4rem;
        color: hsl(0deg, 0%, 70%);
        padding: 1rem 4rem;
        padding: 1rem 6rem 1rem 6rem;
        transform: translateX(-4rem);
        background-color: hsla(0deg,0%,50%,10%);
        border: calc(1rem/8) double hsla(0deg,0%,50%,40%);
        border-radius: 2rem;
        width: fit-content;
        transition: transform 0.5s;
        &#sel{background-color: hsla(0deg,0%,70%,10%);
            transform: translateX(-2rem);}
        &:hover {
            background-color: hsla(0deg,0%,70%,10%);
            cursor: pointer;
            transform: translateX(-2rem);
        }
    }
}

.content {
    
    scroll-behavior: smooth;
    flex: 1 1 0;
    color: hsl(0deg, 0%, 88%);
}

#about {
    .reactApp {
        animation: fadeIn 2s ease-out;
        // border:1px solid rgba(255,255,255,5%);
        display: flex;
        // gap: 2rem;
        margin: 5% 0%;
        padding: 0% 2%;
        #left_sec {
            flex: 1 1 0;
            margin-top: 30vh;
        }
        #center_sec {
            flex: 2 1 0;
            display: flex;
            flex-direction: column;
            p{font-size:1.5rem; font-weight: 600;}
            h1{text-align:center;}
            button {
                margin-top: 1rem;
                align-self: center;
                width: fit-content;
                padding: 0.75rem 2.5rem;
                border-radius: 1.3rem;
                background: rgba(0,0,0,0.25);
                font-size: 1.2rem;
                font-weight: 600;
                color: rgba(160,160,200,1);
                &:hover{background:rgba(20,20,20,0.4); cursor: pointer;}
                &:active:hover{transform:scale(0.95,0.95)}
            }
        }
        #right_sec {
            flex: 1 1 0;
        }

        
        
    }
}

#projects {
    
    width: 100%;
    max-height: 100vh;
    scrollbar-color: hsl(200deg, 70%, 10%) hsl(200deg, 100%, 15%);
    margin: 2% 0%;
    padding: 0% 0%;
    >div.reactApp {
        animation: fadeIn 0.6s normal;
        overflow: auto scroll;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        align-items: center;
        column-gap: 5%;
        row-gap: 3%;
        // border: 1px solid green;
    }
    .project {
        display: flex;
        flex: 1 1 1;
        flex-direction: column;
        align-items: center;
        max-width: 28vw;
        // max-height: calc(50vh - 5%);
        aspect-ratio: 16/9;
        border: 0.35rem hsla(0deg, 0%, 50%, 15%) solid;
        border-radius: 1.8%;
        box-sizing: border-box;
        .preview {
            max-height: 100%;
            max-width: 100%;
        }
        .title {
            font-size: 2rem;
            font-weight: 600;
        }
        .tech {
            display: flex;
            justify-content: normal;
            gap: 0.1rem;
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 1.5rem;
            >*{flex: 1 1 0;text-align: center;}
        }
    }
    
}

#contact {
    .reactApp{animation: fadeIn 1s normal;}
    color: hsl(0deg, 0%, 60%);
    margin: 5% 0%;
    text-align: center;
    h1{user-select:none;}
    #links {
        display: flex;
        justify-content: center;
        gap: 5vw;
        >div {
            position: relative;
            height: 15vh;
            aspect-ratio: 1/1;
            box-sizing: border-box;
            border-radius: 100%;
            padding: 0;
            transition: opacity 1s;
            &:hover{cursor: pointer;}
            opacity: 0.5;
            &:hover{opacity: 1;}
            img {
                width:150%;height:150%;transform: translate(-20%,-20%);
                border-radius: 100%;
                // border: 1px solid red;
                z-index: 1;
                user-select:none;
                cursor:default;
                transition: opacity 1s;
                &:hover{opacity: 0.45;}
            }
            .clickHandler {
                // border: 1px solid red;
                position:absolute;
                top:0;
                left:0;
                width: 100%;
                height: 100%;
                border-radius: 100%;
                z-index:2;
                &:hover{cursor: pointer;}
            }
        }
    }
}


::-webkit-scrollbar {width: 1vw;}
::-webkit-scrollbar-track {background: #f1f1f1; border-radius: 1rem;}
// ::-webkit-scrollbar-track {background: linear-gradient(to bottom, hsl(200deg, 100%, 15%), hsl(280deg, 100%, 15%)); border-radius: 0.5rem;}
::-webkit-scrollbar-track {background: linear-gradient(to bottom, hsl(220deg, 100%, 10%), hsl(280deg, 100%, 5%)); border-radius: 0.5rem;}
::-webkit-scrollbar-thumb {background: linear-gradient(to bottom, hsl(220deg, 100%, 8%), hsl(280deg, 100%, 7%)); border:1px solid black; border-radius: 0.5rem;}
::-webkit-scrollbar-thumb:hover {background: hsl(200deg, 100%, 2%);}
