@-webkit-keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

body {
  background: linear-gradient(to bottom, hsl(220deg, 100%, 10%), hsl(280deg, 100%, 5%));
  display: flex;
  overflow: hidden;
}
body * {
  font-family: "DM Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#sidebar {
  border: 0.25rem solid hsla(0deg, 0%, 0%, 0.6);
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-radius: 0rem 5% 5% 0rem;
  padding-top: 20vh;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
#sidebar button {
  flex: 0 1 1;
  font-weight: 700;
  font-size: 1.4rem;
  color: hsl(0deg, 0%, 70%);
  padding: 1rem 4rem;
  padding: 1rem 6rem 1rem 6rem;
  transform: translateX(-4rem);
  background-color: hsla(0deg, 0%, 50%, 0.1);
  border: 0.125rem double hsla(0deg, 0%, 50%, 0.4);
  border-radius: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: transform 0.5s;
}
#sidebar button#sel {
  background-color: hsla(0deg, 0%, 70%, 0.1);
  transform: translateX(-2rem);
}
#sidebar button:hover {
  background-color: hsla(0deg, 0%, 70%, 0.1);
  cursor: pointer;
  transform: translateX(-2rem);
}

.content {
  scroll-behavior: smooth;
  flex: 1 1 0;
  color: hsl(0deg, 0%, 88%);
}

#about .reactApp {
  -webkit-animation: fadeIn 2s ease-out;
          animation: fadeIn 2s ease-out;
  display: flex;
  margin: 5% 0%;
  padding: 0% 2%;
}
#about .reactApp #left_sec {
  flex: 1 1 0;
  margin-top: 30vh;
}
#about .reactApp #center_sec {
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
}
#about .reactApp #center_sec p {
  font-size: 1.5rem;
  font-weight: 600;
}
#about .reactApp #center_sec h1 {
  text-align: center;
}
#about .reactApp #center_sec button {
  margin-top: 1rem;
  align-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.75rem 2.5rem;
  border-radius: 1.3rem;
  background: rgba(0, 0, 0, 0.25);
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(160, 160, 200);
}
#about .reactApp #center_sec button:hover {
  background: rgba(20, 20, 20, 0.4);
  cursor: pointer;
}
#about .reactApp #center_sec button:active:hover {
  transform: scale(0.95, 0.95);
}
#about .reactApp #right_sec {
  flex: 1 1 0;
}

#projects {
  width: 100%;
  max-height: 100vh;
  scrollbar-color: hsl(200deg, 70%, 10%) hsl(200deg, 100%, 15%);
  margin: 2% 0%;
  padding: 0% 0%;
}
#projects > div.reactApp {
  -webkit-animation: fadeIn 0.6s normal;
          animation: fadeIn 0.6s normal;
  overflow: auto scroll;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  -moz-column-gap: 5%;
       column-gap: 5%;
  row-gap: 3%;
}
#projects .project {
  display: flex;
  flex: 1 1 1;
  flex-direction: column;
  align-items: center;
  max-width: 28vw;
  aspect-ratio: 16/9;
  border: 0.35rem hsla(0deg, 0%, 50%, 0.15) solid;
  border-radius: 1.8%;
  box-sizing: border-box;
}
#projects .project .preview {
  max-height: 100%;
  max-width: 100%;
}
#projects .project .title {
  font-size: 2rem;
  font-weight: 600;
}
#projects .project .tech {
  display: flex;
  justify-content: normal;
  gap: 0.1rem;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.5rem;
}
#projects .project .tech > * {
  flex: 1 1 0;
  text-align: center;
}

#contact {
  color: hsl(0deg, 0%, 60%);
  margin: 5% 0%;
  text-align: center;
}
#contact .reactApp {
  -webkit-animation: fadeIn 1s normal;
          animation: fadeIn 1s normal;
}
#contact h1 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#contact #links {
  display: flex;
  justify-content: center;
  gap: 5vw;
}
#contact #links > div {
  position: relative;
  height: 15vh;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  border-radius: 100%;
  padding: 0;
  transition: opacity 1s;
  opacity: 0.5;
}
#contact #links > div:hover {
  cursor: pointer;
}
#contact #links > div:hover {
  opacity: 1;
}
#contact #links > div img {
  width: 150%;
  height: 150%;
  transform: translate(-20%, -20%);
  border-radius: 100%;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  transition: opacity 1s;
}
#contact #links > div img:hover {
  opacity: 0.45;
}
#contact #links > div .clickHandler {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  z-index: 2;
}
#contact #links > div .clickHandler:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, hsl(220deg, 100%, 10%), hsl(280deg, 100%, 5%));
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, hsl(220deg, 100%, 8%), hsl(280deg, 100%, 7%));
  border: 1px solid black;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(200deg, 100%, 2%);
}/*# sourceMappingURL=style.css.map */